* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: black;
  display: flex;
  justify-content: flex-end;
}
header a {
  text-decoration: none;
  color: aqua;
  font-family: sans-serif;
  display: flex;
  padding: 1rem;
  background-color: black;
  cursor: pointer;
  margin-right: 4rem;
}


body {
  background-color: rgb(40, 39, 39);
}

#title {
  background-color: whitesmoke;
  margin: 0rem 5rem 0rem 5rem;
  margin-bottom: 0.2rem;
}

#title h1 {
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  font-size: 5rem;
  padding-top: 2rem;
  padding-bottom: 2.4rem;
}

#posts {
  background-color: whitesmoke;
  margin-left: 5rem;
  margin-right: 5rem;
  padding-bottom: 2rem;
  height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.post {
  width: 60rem;
  margin: auto;
  padding: 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.333);
}

.postheader {
  display: flex;
}

.date {
  font-size: 1.8rem;
  text-transform: uppercase;
  border: 1px solid black;
  height: 80px;
  width: 80px;
  padding: 1rem 1.4rem;
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Concert One', cursive;
  box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.title {
  font-family: 'Concert One', cursive;
  font-size: 3.5rem;
  font-weight: 200;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.author {
  margin-left: 2rem;
  font-size: 1.5rem;
}

.post-txt {
  font-size: 1.2rem;
  padding-left: 8.5rem;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.tags {
  margin-left: 8.5rem;
}
