* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
#admin-tool a{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  border: 1px solid black;
  height: 3.7em;
  width: 3.7em;
  text-align: center;
  background-color: black;
  color: white;
  text-decoration: none;
  font-family: 'Concert One', cursive;
  box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.75);
}
#admin-tool a:hover{
  background-color: #7a7d7d;
}

body {
  background-color: rgb(40, 39, 39);
  font-size: 1rem;
}

#title {
  background-color: whitesmoke;
  margin: 0rem 5rem 0rem 5rem;
  margin-bottom: 0.2rem;
}

#title h1 {
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  font-size: 5rem;
  padding-top: 2rem;
  padding-bottom: 2.4rem;
}

#posts {
  background-color: whitesmoke;
  margin-left: 5rem;
  margin-right: 5rem;
  padding-bottom: 2rem;
  height: 90vh;
  overflow-y: scroll;
}

.post {
  margin: auto;
  width: 800px;
  padding: 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.333);
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto;
  column-gap: 3em;
  grid-template-areas:
    'date-container heads-container'
    '.              txt-container'
    '.              tags-container';
  -webkit-box-shadow: 2px 1px 5px 3px rgba(0, 0, 0, 0.19);
  box-shadow: 2px 1px 5px 3px rgba(0, 0, 0, 0.19);
}

.date-container {
  grid-area: date-container;
}
.heads-container {
  grid-area: heads-container;
  align-self: end;
}
.txt-container {
  grid-area: txt-container;
}
.tags-container {
  grid-area: tags-container;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  border: 1px solid black;
  height: 3.7em;
  width: 3.7em;
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Concert One', cursive;
  box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.title {
  font-family: 'Concert One', cursive;
  font-size: 3rem;
  font-weight: 200;
}

.author {
  font-size: 1.5rem;
}

.post-txt {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/* POST-SITE STYLING */
#post-main {
  width: 800px;
  margin: auto;
}
.post-singel {
  padding: 100px;
  display: flex;
  background-color: whitesmoke;
  width: 800px;
  margin: auto;
  border-radius: 5px;
}

.postleft {
  margin-right: 25px;
}

/* Back link */
.back-btn a {
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
  margin-left: 650px;
  font-size: 1.5rem;
  background-color: rgb(1, 1, 1);
  padding: 20px;
  border-radius: 5px;
}

.back-btn a:hover {
  color: aqua;
}
