body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(40, 39, 39);
}
* {
  box-sizing: border-box;
}

header h3 {
  color: white;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 2rem;
  background-color: whitesmoke;
  margin: 0rem 5rem 0rem 5rem;
}

input[type='text'],
textarea,
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

button[id='create'], 
#update-post-btn{
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[id='create']:hover,
#update-post-btn:hover {
   background-color: #7a7d7d;
}

.container {
  display: flex;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  margin-left: 25%;
}

#table-manage-posts {
  background-color: whitesmoke;
  margin-left: 5rem;
  margin-right: 5rem;
  width: 900px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0.3em;
}
td {
  padding: 0.4em;
}

table,
thead,
tr,
td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
}
a {
  text-decoration: none;
}
.center-block-element {
  padding: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#admin-top-nav a,
#admin-create-post-nav a {
    margin-bottom: 30px;
    margin-left: 50%;
    display: flex;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: 1px solid black;
    height: 3.9em;
    width: 4.4em;
    margin-top: 10px;
    text-align: center;
    background-color: black;
    color: white;
    text-decoration: none;
    font-family: 'Concert One';
    box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.75);
}
#admin-top-nav a:hover,
#admin-create-post-nav a:hover{
    background-color: #7a7d7d;


}

/* #admin-create-post-nav a {
  color: aqua;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: black;
  font-family: sans-serif;
} */

#lorem-txt {
  margin-left: 10px;
  text-decoration: underline;
  cursor: pointer;
}
