:root {
  --light-color: whitesmoke;
  --dark-color: rgb(40, 39, 39);
  --accent-color: aqua;
  --accent-color-muted: rgb(55, 211, 211);
  --accent-hover-color: #63bfe6;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--dark-color);
}
* {
  box-sizing: border-box;
}
#admin-content-margins {
  margin-left: 5rem; 
  margin-right: 5rem;
}

header h3 {
  color: var(--accent-color);
  display: flex;
  justify-content: center;
  padding: 1rem;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 2rem;
  background-color: var(--light-color);
}

input[type='text'],
textarea,
select {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

.btn-bright-template {
  background-color: var(--accent-color-muted);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-bright-template:hover {
  background-color: var(--accent-hover-color);
}

.container {
  display: flex;
  border-radius: 5px;
  background-color: var(--light-color);
  padding: 20px;
  width: 50%;
  margin-left: 25%;
}

#admin-top-nav a {
  color: aqua;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: black;
  font-family: sans-serif;
}

#table-manage-posts {
  background-color: var(--light-color);
  width: 900px;
  margin-top: 1.5rem;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0.3em;
  white-space: nowrap;
}
td {
  padding: 0.4em;
}

a {
  text-decoration: none;
}
.center-block-element {
  padding: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#admin-top-nav,
#admin-create-post-nav {
  display: flex;
  justify-content: flex-end;
}

#admin-create-post-nav a {
  color: aqua;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: black;
  font-family: sans-serif;
}

#lorem-txt {
  margin-left: 10px;
  text-decoration: underline;
  cursor: pointer;
}

.admin-table-dates {
  display: flex;
  justify-content: space-between;
}
.admin-table-time {
  margin-left: 16px;
}
#delete-are-you-sure {
  display: none;
  position: fixed;
  z-index: 11111;
  left: 50%;
  top: 20%;
  box-shadow: 0px 20px 30px rgb(0, 0, 0);
  transform: translateX(-50%);
  background-color: var(--light-color);
  border: 2px outset rgb(129, 129, 129);
  border-radius: 5px;
  text-align: center;
  width: 24rem;
  padding: 2rem;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
#delete-are-you-sure span {
  display: flex;
  justify-content: space-between;
}
@keyframes popup-appear {
  from  { box-shadow: 0px 20px 50px rgb(0, 0, 0); 
          transform: translateX(-50%);
          filter: opacity(0);
        }
  to    { box-shadow: 0px 20px 30px rgb(0, 0, 0); 
          transform: translateX(-50%);
          filter: opacity(100);
        }
}
@keyframes popup-disappear {
  from  { box-shadow: 0px 20px 30px rgb(0, 0, 0); 
          transform: translateX(-50%);
          filter: opacity(100);
        }
  to    { box-shadow: 0px 20px 50px rgb(0, 0, 0); 
          transform: translateX(-50%);
          filter: opacity(0);
        }
}
#tag-trends {
  display: none;
}
#tag-trends p {
  color: var(--light-color); 
  margin-top: 1rem;
  margin-bottom: 0;
}
#tag-trends-dyn-container {
  display: flex; 
  text-align: center;
  height: 100%;
}